.SideBar {
  grid-area: SideBar;
  border-right: 1px solid #ededed;
  height: 100%;
  padding: 30px 0;
  text-align: center;
  position: relative;
}

.SideBar ul {
  padding: 0;
  margin: 0;
}

.SideBar ul li {
  margin-bottom: 15px;
}

.SideBar ul li a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  display: inline-block;
}

.SideBar ul li a {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 0;
  color: #646464;
  transition: linear 0.1s
}

.SideBar ul .active a:before {
  background: #333;
  transition: all 0.3s ease-in-out;
}

.SideBar ul a:hover::before {
  background: #333;
  transition: all 0.3s ease-in-out;
}

.SideBar ul li a:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #ebebeb;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.SideBar ul .active a svg {
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.SideBar ul li a:hover svg {
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.SideBar ul li a i {
  font-size: 16px;
}
