.About-enter {
  opacity: 0;
}
.About-enter-active {
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
}
.About-exit {
  opacity: 1;
}
.About-exit-active {
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.aboutContent {
  height: 100%;
  overflow: hidden;
  padding: 20px;
  text-align: justify;
  background-color: rgb(157, 198, 231);
}