.App {
  text-align: center;
}
/* 
@media (max-width: 1200px) {
  .App {
    width: 800px
  }
}
@media (max-width: 992px) {
  .App {
    width: 600px
  }
}
    
@media (max-width: 768px) {
  .App {
    width: 400px 
  }
}
 */
